
  <form [formGroup] = "userDetailForm" class="form-horizontal">
    <fieldset>
      <legend>
        Benutzer
      </legend>
      <div class="form-group">
        <label for="id" class="col-lg-2 control-label">Id</label>
        <div class="col-lg-10">
          <input type="text" [ngModel]="(user | async)?.id" (ngModelChange)="user.id=$event" id="id" formControlName ="id" [readonly]="true"  >
        </div>
      </div> 
      <div class="form-group" >
        <label for="username" class="col-lg-2 control-label">Benutzername</label>
        <div class="col-lg-10">
          <input type="text" 
            [ngModel]="(user | async)?.username" 
            (ngModelChange)="user.username=$event" 
            class="form-control" 
            id="username" 
            formControlName ="username"  >
        </div>
      </div>
      <div class="form-group" >
        <label for="active" class="col-lg-2 control-label">Aktiv?</label>
        <div class="col-lg-10" >
          <input type="checkbox" [ngModel]="(user | async)?.active" (ngModelChange)="user.active=$event" id="active" formControlName ="active" >
        </div>
      </div> 
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" (click) = "save()" class="btn btn-primary">Speichern</button>
        </div>
      </div>
    </fieldset>
  </form>
